<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"
    integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="
    crossorigin="anonymous" />
  <title>KLC REVIEWS </title>
 
</head>
<div class="col-xs-6 col-sm-6 col-md-6">
<div class="container">

{% for x in detail %}

<h1><img src="{{x.image.url}}"class="rounded-circle" width="40px" height="40px">{{x.user}}:<h1>
<p style="color:black;text-align:justify;">{{x.remarks}}<p>

{% endfor %}
</div>

</div>
<body>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
