<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"
    integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="
    crossorigin="anonymous" />
  <title>KLC REVIEWS </title>
 
</head>


<body>
<div class="text-center">
{% if profile %}
    <img src="{{profile.avatar.url}}" alt="my-profile" class="rounded-circle" width="200px" height="200px"><br>

    <b> {{profile.user}}</b><br><br>
    <h2><B>BIO<B><h2>
    <h1><i>{{profile.bio}}<i></h1>
    {% endif %}
    {% if err %}
    {{err}}
    {% endif %}

    
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
